@font-face {
  font-family: 'PixelOperator';
  src: local('PixelOperator'), url(./fonts/PixelOperator.ttf) format('truetype');
}
@font-face {
  font-family: 'PixelOperatorHB';
  src: local('PixelOperatorHB'), url(./fonts/PixelOperatorHB.ttf) format('truetype');
}

body{
  background-color: lightgrey; 
}

.App {
  background-color: lightgrey;
  height: 100vh;
  text-align: center;
}


.loadingDiv{
  text-align: center;
  margin:auto;
  width: 50%;
  margin-top: 15%;
}

.info {
  font-family: 'PixelOperator';
  font-size: 1.5rem
}

.pageLoadingTitle {
  font-family: 'PixelOperator';
}

.welcome {
  font-family: 'PixelOperatorHB';
  margin-top: 5%;
  /* background-color: hotpink; */
  
}

.welcome .mainmsg {
  font-size: 5rem;
  margin-bottom: -1vh;
}

.welcome .para{
  font-size: 2rem;
  margin-left: 25%;
  width: 50%;
}

.welcome .link{
  margin: 10px;
}

.loadingGif{
  height: 75px;
  width: 75px;
  margin-top: 15%;
}

.top-bar{
  width: 100%;
  display: inline-grid;
  grid-template-columns: 45% 45% 10%;
  background-color: darkgray;
}

.canvasBg{
  background-color: skyblue;
}

.canvasDiv{
  margin-top: 7vh;
}

.connectBtnDiv{
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
}

.connectBtn{
  background:url('./assets/connectbtn.png') no-repeat;
  cursor: pointer;
  border: none;
  width: 64px;
  height: 38px;
  margin-right: 20px;
}

.connectBtn:hover{
  background:url('./assets/connectbtnpressed.png') no-repeat;
}

.claimBtn{
  background:url('./assets/claimbtn.png') no-repeat;
  cursor: pointer;
  border: none;
  width: 64px;
  height: 38px;
  margin-right: 20px;
}

.claimBtnBlocked{
  background:url('./assets/claimbtnblocked.png') no-repeat;
  cursor: pointer;
  border: none;
  width: 64px;
  height: 38px;
  margin-right: 20px;

}

.claimBtn:hover{
  background:url('./assets/claimbtnpressed.png') no-repeat;
}

.address{
  font-family: 'PixelOperator';
  font-size: larger;
  align-self: center;
  text-align: right;
}


.titleDiv{
  width: 200px;
}
.title{
  font-family: 'PixelOperatorHB';
  border: 1px black solid;
  background-color: #60D838;
  border-radius: 5px;
  
  padding: 4px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.title .text{
  font-size: 2rem;
  text-decoration: none;
  color: white
}

.title .text:hover{
  color: rgb(238, 238, 238);
}


canvas {
  width: 1000px;
  height: 500px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
