.App {
  background-color: aqua;
  height: 100vh;
  text-align: center;
}

.loadingGif{
  height: 50px;
  width: 50px;
}

.top-bar{
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 3ch;
  background-color: green;
  text-align: right;
}

.canvasBg{
  background-color: white;
}

