@font-face {
  font-family: 'PixelOperator';
  src: local('PixelOperator'), url(./fonts/PixelOperator.ttf) format('truetype');
}
@font-face {
  font-family: 'PixelOperatorHB';
  src: local('PixelOperatorHB'), url(./fonts/PixelOperatorHB.ttf) format('truetype');
}

.App {
  background-color: lightgrey;
  height: 100vh;
  text-align: center;
}

.pageLoadingTitle {
  font-family: 'PixelOperator';
  position: absolute;
  margin-left: 46%;
  margin-top: 20%;
  top: 0;
  left:0;
}

.loadingGif{
  height: 50px;
  width: 50px;
}

.top-bar{
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-right: 2vw; 
  background-color: darkgray;
  /* text-align: right; */
  height: 5vh
}

.canvasBg{
  background-color: skyblue;
}

.canvasDiv{
  margin-top: 7vh;
}

.connectBtn{
  background:url('./assets/connectbtn.png') no-repeat;
  cursor: pointer;
  border: none;
  width: 64px;
  height: 38px;
  margin-top: 0.3vh;
  position: absolute;
  right: 0;
  margin-right: 2vw;
}

.connectBtn:hover{
  background:url('./assets/connectbtnpressed.png') no-repeat;
}

.claimBtn{
  background:url('./assets/claimbtn.png') no-repeat;
  cursor: pointer;
  border: none;
  width: 64px;
  height: 38px;
  margin-top: 0.3vh;
  position: absolute;
  right: 0;
  margin-right: 2vw;
}

.claimBtn:hover{
  background:url('./assets/claimbtnpressed.png') no-repeat;
}

.address{
  font-family: 'PixelOperator';
  margin-top: 1.5vh;
  font-size: larger;
  position: absolute;
  right: 0;
  margin-right: 10vw;

}

.title{
  position: absolute;
  font-size: 2rem;
  margin-left: 2vw;
  margin-top: -0.5vh;
  font-family: 'PixelOperatorHB';
  border: 1px black solid;
  background-color: #60D838;
  color: white;
  border-radius: 5px;
  padding: 4px;
  
}

canvas {
  width: 1000px;
  height: 500px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
